@tailwind components;
@tailwind utilities;

.main {
  @apply 
  flex
  flex-col
  items-center
  self-center
  mt-[2.5em];
}

.info {
  @apply 
  text-xl 
  font-extrabold 
  leading-9 
  tracking-tight
  sm:text-xl 
  sm:leading-10 
  md:text-2xl 
  md:leading-14;
}
.clock {
  @apply 
  text-3xl py-9 mt-9
  font-extrabold leading-9 
  tracking-tight sm:text-[5.75rem] 
  sm:leading-10 md:text-[9.75rem] 
  md:leading-14;
}

.button {
  @apply 
  inline-block 
  rounded
  md:text-[1rem] 
  bg-primary-600
  mt-[1em]
  px-6 py-[1em] text-xs 
  font-medium 
  uppercase leading-tight 
  text-white shadow-md 
  transition duration-150 
  ease-in-out 
  hover:bg-primary-700 hover:shadow-lg 
  focus:bg-primary-700 focus:shadow-lg 
  focus:outline-none focus:ring-0 
  active:bg-gray-400 active:shadow-lg
}

.day {
  @apply text-xl
  font-extrabold 
  leading-9 
  tracking-tight
  sm:text-3xl 
  sm:leading-10 
  md:text-[1rem]
  md:leading-14;
}

.last_entries {
  @apply text-xl
  font-extrabold 
  leading-9 
  mt-[1em]
  tracking-tight
  sm:text-3xl 
  sm:leading-10 
  md:text-[1rem]
  md:leading-14;
}